* {
  box-sizing: border-box;
  font-family: monospace;
  font-size: 16px;
}

.app-watcher {
  min-width: 300px;
}

.app-watcher__db {
  padding: 6px 9px;
  border-radius: 3px;
  border: solid 1px #c7c7c7;
  width: 100%;
}

.app-watcher__submit-btn {
  width: 100%;
  border-radius: 3px;
  border: none;
  background-color: #7f99d2;
  padding: 6px 9px;
  color: #fff;
  font-weight: bold;
}

.app-watcher__table {
  width: 100%;
}

.app-watcher__announce {
  color: #fff;
  padding: 6px 9px;
  border-radius: 3px;
}

.app-watcher__announce--error {
  background-color: #d6a1a1;
}

.app-watcher__announce--info {
  background-color: #89c785;
}

.app-watcher--space {
  margin-bottom: 1em;
}

.app-watcher--hide {
  display: none;
}
